In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/books.csv')
df.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPrÃ©,4.57,439785960,9.78044E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPrÃ©,4.49,439358078,9.78044E+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78044E+12,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPrÃ©,4.56,043965548X,9.78044E+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPrÃ©,4.78,439682584,9.78044E+12,eng,2690,41428,164,9/13/2004,Scholastic

In [3]:
df.describe()

             bookID  ratings_count  text_reviews_count
count  11127.000000   1.112700e+04        11127.000000
mean   21310.938887   1.793649e+04          541.864474
std    13093.358023   1.124794e+05         2576.174610
min        1.000000   0.000000e+00            0.000000
25%    10287.000000   1.040000e+02            9.000000
50%    20287.000000   7.450000e+02           47.000000
75%    32104.500000   4.993500e+03          237.500000
max    45641.000000   4.597666e+06        94265.000000

In [4]:
df['title'].nunique()

10352

In [5]:
df['isbn'].nunique()

11126

In [6]:
df[df['ratings_count'] <30]['title'].count()

1426

In [7]:
#Eliminating books with less than 30 reviews for analysis
df = df[df['ratings_count'] > 29]

In [11]:
df['language_code'].value_counts()

language_code
eng    9393
Name: count, dtype: int64

In [9]:
#Remove non-english books
df['language_code'] = df['language_code'].replace({'en-US':'eng','en-GB':'eng','en-CA':'eng'})
df  =  df[df['language_code'] == 'eng']

In [12]:
df.dtypes

bookID                 int64
title                 object
authors               object
average_rating        object
isbn                  object
isbn13                object
language_code         object
  num_pages           object
ratings_count          int64
text_reviews_count     int64
publication_date      object
publisher             object
dtype: object

In [23]:
#clean and convert num_pages to integer
df = df.rename(columns = {'  num_pages':'num_pages'})
df['num_pages'] = df['num_pages'].astype('int')

In [48]:
df['year'] = df['publication_date'].str.strip().str[-4:]
df['year'] = df['year'].astype('int')